*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container-fluid{
    background-color: #000;
    width: 100%;
    min-height: 100vh;
    overflow-x:hidden ;
    position: relative;
    margin: auto;
}
.header{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.header img{
    width: 100px;
    height: 100px;
}

.header li{
    display: inline-block;
    margin: 8px 15px;
}
.a:hover {
    color: rgb(161, 151, 151);
    text-decoration: none;
}
.header li a{
    color:white;
    text-transform: capitalize;
}
/* //////////////////////////// */
.content{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .img{
    width: 30%;
}
.content .img img{
    width: 200px;
    height: 400px;
}
.text{
    width: 40%;
}
.text h2{
    color: white;
    text-transform: uppercase;
}
.text p{
    color:white;
    padding: 10px 0px;
}
.text .btn{
    background-color: white;
    color: #000;
    width: 140px;
    height: 30px;
    border-radius: 5px;
    padding: 3px 15px;
}
.icone{
position: absolute;
bottom: 5%;
left: 50%;
transform: translatex(-50%);
}
.icone img:hover {
    transform: scale(1.2);
    transition: all.5s;
}
.icone img{
    width: 50px;
    height: 80px;
}
/* ////////////////// */
@media (max-width:922px) {
   .header{
    flex-direction: column;
   }
   .header li{
    margin: 8px 5px;
   }
   .content{
    flex-direction: column;
   }
  
   .icone{
    position: relative;
    margin-left:200px;
   }
}
@media (max-width:768px) {
     .header{
    flex-direction: column;
   }
   .header li{
    margin: 8px 5px;
   }
   .content{
    flex-direction: column;
   }
  
   .icone{
    position: relative;
    margin-left:80px;
   }
}
@media (max-width:576px) {
    .header{
        flex-direction: column;
       }
       .header li{
        margin: 8px 5px;
       }
       .content{
        flex-direction: column;
       }
       .icone{
        position: relative;
        margin-left:100px;
        
       }
}
